@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-neutral-50 text-neutral-800 font-sans antialiased;
  }
}

@layer utilities {
  .ui-focus {
    @apply outline-none ring-2 ring-primary-500/20 ring-offset-1 transition-shadow duration-200;
  }
}